/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* Container styles */
.container {
    max-width: 90%; /* Adjust to your preference */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #008CBA;
}

/* File input styles */
#fileInput {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

#fileInput:hover {
    border-color: #008CBA;
}


.custom-file-upload {
    display: inline-block;
    background-color: #008CBA;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #005f6b;
}

/* Button container styles */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Button styles */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#downloadAllBtn {
    background-color: #008CBA;
}

#downloadAllBtn:hover {
    background-color: #005f6b;
}

/* Converted files container styles */
#convertedFiles {
    margin-top: 20px;
}

/* Individual converted file styles */
.converted-file {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Footer Styles */
.footer {
    position: fixed;
    bottom: 0;
    background-color: #000;
    color: #fff;
    width: 100vw;
    padding: 2rem;
  }
  
  .footer-list-items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin: 1rem 1rem 0 1rem;
    border-radius: 50%;
    background-color: #0722ef;
  }
  
  .footer-list-items:hover {
    transform: scale(1.1);
  }
  
  .footer-links {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
  }
  
  .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-menu {
    padding: 0 5rem;
  }
  
  .footer-menu .footer-menu-list {
    display: flex;
    list-style: none;
  }
  
.kite {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 35px;
    margin: 0px;
  }

  @media screen and (min-width: 280px) and (max-width: 576px) {
  .footer-menu {
    padding: 0 2rem;
  }

  .footer-list-items {
    margin: 0;
  }}